@model UserRolesViewModel

@{
    ViewData["Title"] = "Manage Roles";
    var desa = false;
}

<form method="post" asp-action="ManageRole">
    <div class="card mt-4">
        <h2>@Model.UserName @Model.LastName</h2>
        Add / Remove Roles
    </div>
    <div class="card-body">
        <input type="hidden" asp-for="UserId"/>

        @for (int i = 0; i < @Model.Roles.Count; i++)
        {
       <div class="form-check-inline">
           <input type="hidden" asp-for="@Model.Roles[i].RoleName"/>
            <label class="form-check-label">
                @{
                    if(@Model.Roles[i].RoleName.Equals("SuperAdmin")  && @Model.LastName.Equals("Super Admin")){
                    <input asp-for="@Model.Roles[i].IsSelected" class="form-check-input" disabled>
                    }else{
                        <input asp-for="@Model.Roles[i].IsSelected" class="form-check-input" >
                    }  
                }
                @* <input asp-for="@Model.Roles[i].IsSelected" class="form-check-input" > *@

                
                @Model.Roles[i].RoleName
            </label>
        </div>
        }

        <div asp-validation-summary="All" ></div>

    </div>
    <button type="submit" class="btn btn-primary "> Save</button>
    <button asp-action="Index" class="btn btn-danger "> Cancel</button>
</form>